*{
    box-sizing: border-box;
}

/* Navbar */
.Navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


/* SignIn-SignUp */
.SignIn-SignUp-main{
    padding: 0 100px;
    margin: auto;
}
.SignIn-SignUp-inner-main{
    margin: 80px auto 0px;
    max-width:500px;
    height: 1200px;
    background-image: url('../assets/SignInBackground Image.jpg');
    background-size: cover;
    background-position: center;
}
.SignIn-SignUp-text{
    margin-top: 50px;
    font-size: 45px;
}
@media(max-width:1080px){

}